<div class='row'>
	<div class='article-form'>
		<%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
			<% if @article.errors.any?%>
				<%= pluralize(@article.errors.count,"error")%> prohibited this article to save
				<ul>
					<% @article.errors.full_messages.each do |msg|%>
						<li>
							<%=msg%>

						</li>
					<% end %>
				</ul>
			<% end %>
			<div class='form-group article-form btn-wrapper'>
				<div class='submit-wrapper'>
					<%= f.submit class: 'create-art' %>
				</div>
			</div>
			<div class='form-group article-form'>
				<!--<div class='control-label col-md-1'>
					<%= f.label :title %>
				</div>-->
				<div class='col-md-11'>
					<%= f.text_field :title, class: 'form-control form-title',autocomplete:"off", placeholder: 'Title of article', autofocus: true %>
				</div>
			</div>
			<div class='form-group article-form'>
				<!--<div class='control-label col-md-1'>
					<%= f.label :body %>
				</div>-->
				<div class='col-md-11'>
					<%= f.text_area :body, rows: 12, class: 'form-control form-body', placeholder: 'Type your article here' %>
				</div>
			</div>
		<% end %>
	</div>
</div>
