<div class="detail-wrapper">
	<article class="detail-article">
		<div class="detail-article-wrapper">
			<h1 class="article-detail-title"><%=@article.title%></h1>
			<div class="glyphicon glyphicon-calender" id="article-date">
				<%= @article.created_at.strftime("%b %d %Y")%>

			</div>
			<div class="article-body">
				<%=@article.body%>
			</div>
			<div class="updel-buttons">
				<% if user_signed_in? && current_user==@article.user%>
					<%= link_to "Edit", edit_article_path(@article), class:"edit-article"%>
					<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm:"Are you sure you want to delete the article?"}, class: "delete-article"%>
				<%end %>
			</div>
		</div>
	</article>
	<div class='comment-wrapper'>
		<% if @comment.errors.any? %>
			<div class="panel panel-danger col-md-offset-1">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= pluralize(@comment.errors.count, "error") %>
						prohibited this comment from being saved:
					</h2>
				</div>
				<div class="panel-body">
					<ul>
						<% @comment.errors.full_messages.each do |msg| %>
							<li>
								<%= msg %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>

	<%= form_for [@article,@comment], :html => {class: "form-horizontal", role: "form"} do |f| %>
	<div class="comment-box">

			<% if @article.comments.any? %>
				<% persisted_comments(@comments).each do |comment| %>
				<div class="show-comment">
				<div class="name-author">
					<span><%=comment.user.email %> </span> said:
				</div>
					<div class="comment-body">
						<%= comment.body %>
					</div>
					<div class="comment-time">
						<%= time_ago_in_words(comment.created_at) %>
						ago
					</div>
				</div>
				<% end %>
			<% else %>
				There are no comments to show.
			<% end %>
	</div>

	<div class='form-group form-group-comment'>
		<div class='coment-group-wrapper'>
			<%= f.text_area :body, rows: 3, class: 'form-control form-comment', placeholder: 'Your comment' %>
		</div>
	</div>

	<div class='form-group comment'>
		<div class='comment-button-wrapper'>
			<%= f.submit "Comment",class: 'comment-button' %>
		</div>
	</div>
	<% end %>
</div>
</div>
